# Piper Service Artifacts
piper-service
dist/
bin/
build/
fake_bin/
provider.cfg
tts-override.json
lib/
include/

# Models and Data are huge and handled separately (downloaded or local)
models/
*.onnx
*.onnx.json
piper/espeak-ng-data/

# Build remnants
build_deps/
*.o
*.a
*.so*

# IDE/System
.DS_Store
.vscode/
.idea/
