# Build artifacts
build/
bin/
dist/

# Intermediary files
kokoro-service
result.bin
temp_refine.bin
mixes.json
provider.cfg
feature_config.json
tts-override.json

# Dependencies
lib/
onnxruntime/
models/
venv/
node_modules/
